{% extends "QnA/base.html" %}
{% block content %}           
<div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email}}</p>
            <a href="{% url 'reward' user.pk %}"> View your reward </a>
            <hr>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile_update' %}">Edit</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'password_reset' %}">Reset Password</a>
          </div>
        </div>
      </div>

  {% for question in question %}
  {% if question.author == user %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="" >By {{ question.author }}</a>
        <small class="text-muted">{{ question.date_published|date:"F d, Y" }}</small>
      </div>
      <h2><a class="article-title" style="display : inline" href="{% url 'question-detail' question.pk %}" >{{ question.title }}</a></h2>
      <small class="article-title" style="float: right" >Category: {{ question.category }}</small>
      <small class="article-title" style="float: left" ><a href="{% url 'question-detail' question.pk %}">Comment</a></small>
    </div>
  </article>
  {% endif %}
{% endfor %}
{% endblock content %}