{% extends "QnA/base.html" %}
{% load static %}
{% block content%}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">Total Reward Points :</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="{{ object.points }}" aria-valuemin="{{ object.points }}" aria-valuemax="200000">{{ object.points }}</div>
      </div>
      <br/>
      <h3>Contributions to reward point:</h3>
      <h6>Be choosen as solution: {{ reward.accu_rtoken_percentage }}%</h6>
      <h6>Question being likes:{{ reward.accu_quest_likes_percentage }}%</h6>
      <h6>Comment being likes:{{ reward.accu_comment_likes_percentage }}%</h6>
    </div>
  </div>
</div>
{% endblock content %}